*{
  padding:0;
  margin:0;
}

.App {
  text-align: center;
}

.navbar{
    display: flex;
    height: 7vh;
    width: 100vw;
    font-size: large;
    background: #0082e6;
    font-weight: bold;
    margin-right: 5vw;
    justify-content: flex-end;
    align-items: center;
}

.link{
  padding: 5px;
  border:3px solid white;
  border-radius: 3px;
  margin: 10px;
  text-decoration: none;
  color:white;
  /*
    ONKAR's styling 
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none; */
}

.SignUp{
  margin-top: 7vh;
  display: flex;
  width: 30vw;
  height: 80vh;
  box-shadow: 0 0 6px grey;
  align-items: center;
  justify-content: center;
}

#Login{
  height: 60vh;
}

.center{
  display: flex;
  justify-content: center;
}

label{
  display: block;
  margin-top:3vh;
}

#signUP-Button{
  margin-top: 2vh;
  /* height: 5vh;
  width:15vw; */

    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    border-color: #0082e6;;
    background-color: white;
    border-radius: 10px;
    width: 100px;
}

.SignUp input{
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    font-size: 14px;
    margin: 1vh;
}

#signUP-Button:hover{
  background-color: #0082e6;;
  color: white;
}

.Login-direct{
  display: inline;
}

.logout-btn {
  background-color: #f44336; /* Red background color */
  border: none; /* No border */
  color: white; /* White text color */
  padding: 0.4vw 0.8vw; 
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-right: 0.5vw;
  border-radius: 5px;
}

/* Hover state */
.logout-btn:hover {
  background-color: #da190b;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.icons{
  display: flex;
  flex-direction: column;
}

.icons i{
  font-size: 30px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.icons a{
  text-decoration: none;
  margin:2vh;
  color: white;
}

.footer-content{
  margin-top: 100px;
  width: 450px;
  margin-bottom: 100px;
  color: white;
}
/* Footer */